*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    list-style-type: none;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-track {
    background-color: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: lightgray;
    border-radius: 25px;
}

.animated-item {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s;
}

.animated-item.appear {
    opacity: 1;
    transform: translateY(0);
}

/* DEFAULT: Device with <360px width */

img {
    user-select: none;
    -webkit-user-drag: none;
}

h1, nav ul a:hover, nav ul button:hover, .sosmeds a {
    background: linear-gradient(blueviolet, deepskyblue);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container2 a {
    color: white;
}

header {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
    height: fit-content;
    margin: 0 0 .5em 0;
    padding: 1em;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: white;
    animation: start 3s;
}

header a {
    text-decoration: none;
    color: lightgray;
    font-weight: bold;
    user-select: none;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: .5em;
}

nav ul button {
    background: transparent;
    border: none;
    color: lightgray;
    font-size: 1em;
}

.display-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    width: 100%;
    margin: 5em 0;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header-title {
    cursor: pointer;
    transition: all ease 1s;
}

.container1 {
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    min-height: 150vh;
    padding: 1em;
    background: url('https://media.discordapp.net/attachments/1204319465576079420/1204324701602844744/we9ABG.png?ex=65d451c8&is=65c1dcc8&hm=650be84c6282e6a9bc9b74e2deb7d3dbf8feab586e6e4143ee911578fb968b67&=&format=webp&quality=lossless&width=630&height=473'), white;
    background-size: cover;
    background-position: bottom;
    color: black;
    animation: start 5s;
}

.heading-title {
    width: 80%;
    margin: 0 auto;
    margin-bottom: .5em;
    padding: .5em;
    text-align: center;
    border-top: 3px solid lightgray;
    border-bottom: 3px solid lightgray;
}

.first-flexbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.full-txt {
    font-size: 10em;
    text-align: center;
    user-select: none;
}

.caption {
    text-align: center;
}

.sosmeds {
    display: flex;
    flex-direction: row;
    gap: 2em;
    margin: 1em;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    user-select: none;
}

.sosmeds a {
    transition: all ease .5s;
}

.sosmeds a:hover {
    font-size: 2em;
}

.container2 {
    width: 100%;
    height: fit-content;
    padding: 1em;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url('https://media.discordapp.net/attachments/1204319465576079420/1204319945387671582/Tak_berjudul860_20240206135438.png?ex=65d44d5a&is=65c1d85a&hm=4c9bde2cd85dfe7fa5856d4dc30bdabbf19ca3dc6911635aa246a26176d422e7&=&format=webp&quality=lossless') repeat, linear-gradient(to bottom, blueviolet, deepskyblue);
    background-size: 20em;
    color: white;
    text-shadow: 1px 1px 2px black;
}

img[src="https://media.discordapp.net/attachments/1204319465576079420/1204324411293827072/logo-smpn6lembang.png?ex=65d45182&is=65c1dc82&hm=14ec8edb8ad0fec68f2689d90b51cbd0f148d8fa47057ef69ff94d0ffaa1d0aa&=&format=webp&quality=lossless"] {
    width: 100px;
    padding-bottom: 1em;
}

.container3 {
    width: 100%;
    height: fit-content;
    min-height: 100vh;
    padding: 1em;
    background: url('https://media.discordapp.net/attachments/1204319465576079420/1204322662352949329/Tak_berjudul861_20240206140737.png?ex=65d44fe1&is=65c1dae1&hm=88fb0ee5848600a466416b94561d4f45955a744e2655bc6c2a34cc654fd0a5e3&=&format=webp&quality=lossless') repeat, white;
    background-size: 20em;
}

.slider-container {
    overflow: hidden;
}

.slide {
    display: none;
}

.slide img {
    width: 300px;
    height: 500px;
    background-position: center;
    background-size: contain;
    border-radius: 10px;
}

.bubad, .butin, .buris {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: large;
}

.quote-txt::before, .quote-txt::before {
    content: "“ ";
    display: flex;
    justify-content: flex-start;
    position: relative;
    bottom: -.5em;
    color: gray;
    font-size: 5em;
}

.quote-txt::after, .quote-txt::after {
    content: " ”";
    display: flex;
    justify-content: flex-end;
    color: gray;
    font-size: 5em;
}

.bubad img, .butin img, .buris img {
    width: 300px;
    height: auto;
}

footer {
    width: 100%;
    padding: 1em;
    background: url('https://media.discordapp.net/attachments/1204319465576079420/1204319945387671582/Tak_berjudul860_20240206135438.png?ex=65d44d5a&is=65c1d85a&hm=4c9bde2cd85dfe7fa5856d4dc30bdabbf19ca3dc6911635aa246a26176d422e7&=&format=webp&quality=lossless') repeat, linear-gradient(to bottom, blueviolet, deepskyblue);
    background-size: 20em;
    color: white;
    font-size: large;
    text-shadow: 1px 1px 2px black;
    text-align: center;
}

footer .first-flexbox {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin: 1em;
}

footer a {
    color: white;
}

footer ul {
    margin: 1em;
}

.fa-github {
    font-size: larger;
}

@keyframes start {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Mobile Mode */

@media only screen and (min-width: 360px) {
    nav ul {
        gap: 1em;
    }
}

/* Tablet Mode */

@media only screen and (min-width: 600px) {
    header {
        flex-direction: row;
        justify-content: space-around;
    }

    .aboutA, .about7, .about8, .about9 {
        display: flex;
        gap: 1em;
        justify-content: center;
        align-items: center;
        margin-bottom: 1em;
    }

    .aboutA, .about8 {
        flex-direction: row-reverse;
    }

    .second-flexbox {
        width: 80%;
    }

    .bubad, .butin, .buris {
        display: flex;
        flex-wrap: nowrap;
        width: 80%;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: large;
    }

    .bubad img, .buris img {
        order: 1;
    }
}

/* Desktop Mode */

@media only screen and (min-width: 1000px) {
    header {
        font-size: 1.2em;
    }

    .display-flex {
        gap: 5em;
    }

    .second-flexbox {
        order: 1;
        width: 50%;
        font-size: large;
    }
    
    .first-flexbox {
        flex-direction: row;
        width: 90%;
    }

    .full-txt {
        position: relative;
        left: .5em;
    }

    .aboutA,.about7, .about8, .about9 {
        flex-direction: row-reverse;
        font-size: large;
    }

    .caption {
        width: 80%;
    }

    .sosmeds {
        flex-direction: column;
        order: -1;
        width: 30%;
    }

    .container2 {
        display: flex;
        gap: 1em;
        padding: 1em 5em;
        font-size: large;
    }

    img[src="https://media.discordapp.net/attachments/1204319465576079420/1204324411293827072/logo-smpn6lembang.png?ex=65d45182&is=65c1dc82&hm=14ec8edb8ad0fec68f2689d90b51cbd0f148d8fa47057ef69ff94d0ffaa1d0aa&=&format=webp&quality=lossless"] {
        padding-bottom: none;
    }

    footer p {
        width: 50%;
    }
}

/* Countdown CSS */

.countdown {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background: url('https://media.discordapp.net/attachments/1204319465576079420/1204319945387671582/Tak_berjudul860_20240206135438.png?ex=65d44d5a&is=65c1d85a&hm=4c9bde2cd85dfe7fa5856d4dc30bdabbf19ca3dc6911635aa246a26176d422e7&=&format=webp&quality=lossless') repeat, linear-gradient(to bottom, blueviolet, deepskyblue);
    background-size: 20em;
    box-shadow: 0 0 .3em .1em gray;
    color: white;
    text-shadow: 1px 1px 2px black;
    margin: 1em 0;
    padding: 20px;
    border-radius: 25px;
}
  
.countdown-item {
    text-align: center;
}
  
.countdown-item span {
    display: block;
    font-size: 24px;
    font-weight: bold;
}
  
.countdown-item span:first-child {
    color: white;
}

.hmhp {
    text-align: center;
    color: gray;
    padding-bottom: 1em;
}